<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel ="stylesheet" type="text/css" href="static/style.css">
        <script type="text/javascript" src = "static/function.js"></script>
        <title>
            {%block title%}{%endblock%}
        </title>
    </head>
    <body>
        {% block body %} {% endblock %}
    </body>
</html>