{% extends "base.html.j2" %}
{%block title%}
Login
{%endblock%}
{% block body %} 

<div class="header">
  <a href="#default" class="logo">Extengine</a>
  <div class="header-right">
    <a class="active" href="logoutconfirmation"> Logout </a>
    
  </div>
</div>

{% endblock %}