{% extends "base.html.j2" %}

{% block title%} 
<title>Chess</title>
<link rel="stylesheet" href="static/css/chessboard-1.0.0.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="static/js/chessboard-1.0.0.js"></script>
{%endblock%}

{% block body %}

<div class="header">
  <a href="#default" class="logo">Extengine</a>
  <div class="header-right">
    <a class="active" href="logoutconfirmation"> Logout </a>
    
  </div>
</div>

<div id="board1" style="width: 650px"></div>
<script src="static/js/script.js"></script>
{% endblock %}